<h3>Are you sure you want to delete the member <%= @name %>?</h3>
<form action="/members/<%= @name %>" method="post">
  <input type="hidden" name="_method" value="delete">
  <input type="submit" value="Remove Member">
</form>
<a href="/members">Back</a>
