<h3>Current Members</h3>
<ul>
  <% @members.each do |name| %>
  <li><a href="/members/<%= name %>"><%= name %></a> <a href="/members/<%= name%>/edit">edit</a> <a href="/members/<%= name%>/delete">delete</a></li>
  <% end %>
</ul>

<a href="/members/new">New Member's Sign up here.</a>
