<h6>Member's Profile Page</h6>
<p><%= @message %></p>
<h1>Hello <%= @name %>!</h1>
<a href="/members">All members</a><br>
<a href="/members/<%= @name %>/edit">Edit profile</a>
<a href="/members/<%= @name %>/delete">delete</a>
